* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .imgs {
        max-width: 800px;
        overflow: hidden;
        height: 636px;
        transition: all 1s ease;
        .img-item {
            display: none;
        }
        .active {
            display: block;
        }
    }
    .btns {
        display: flex;
        padding: 20px;
        position: relative;
        .btn {
            padding: 10px 20px;
            background-color: rgb(56, 193, 228);
            border-radius: 4px;
            margin: 0px 20px;
            opacity: 0.6;
            cursor: pointer;
            transition: all 0.2s ease;
        }
        .btn:hover {
            background-color: rgba(0, 236, 118, 0.667);
        }
        .btn.active {
            opacity: 1;
            background-color: rgb(247, 7, 255);
        }
        .line {
            position: absolute;
            transition: all 1s ease;
            left: 0;
            width: 0;
            top: 65%;
            border: 5px solid rgb(3, 3, 3);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}