<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet" />
    <title>My Clock</title>
</head>

<body>
    <div class="title">BÂY GIỜ LÀ</div>
    <div class="clock">
        <div class="clock-hours">
            <div id="hours"></div>
            <span>Giờ</span>
        </div>
        <div class="clock-minutes">
            <div id="minutes"></div>
            <span>Phút</span>
        </div>
        <div class="clock-seconds">
            <div id="seconds"></div>
            <span>Giây</span>
        </div>
    </div>
    <script src="../assets/js/index.js"></script>
</body>

</html>