*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  background-color: #030303;
  height: 100vh;
  position: relative;
   .toast{
    margin: 10px;
    animation: slideleft ease 0.5s, fadeout linear 1s 3s forwards;
    background-color: rgb(255, 255, 255);
    padding: 8px 14px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 5px solid rgb(63, 248, 26) ;
    box-shadow: 3px 3px 6px 0px;
    .icon{
      color: rgb(63, 248, 26);
    }
    .body{
      width: 200px;
      &-title{
        font-size: 20px;
      }
      &-text{
        color: rgb(141, 138, 138);
      }
    }
    .close{
      cursor: pointer;
    }
   
  }

  @keyframes slideleft {
    0%{
    transform: translateX(calc(100% + 30px));
    opacity: 0;

    }
    100%{
    transform: translateX(0);
    opacity: 1;
    }
  }
  @keyframes fadeout {
    100%{
      opacity: 0;
    }
  }

  .info{
  border-left: 5px solid #2b7bec !important ;

    .icon-info{
    color: #2b7bec !important;

    }

  }
  .danger{
  border-left: 5px solid #e6a61d !important;
  .icon-danger{
    color: #e6a61d !important;

  }

  }
}